.Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
